@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
$playfair-font: 'Playfair Display', serif;

$primary: #083322;
$white: #FFFFFF;




@mixin button-styles {
    font-family: inherit;
    line-height: 54px;
    -webkit-font-smoothing: antialiased;
    grid-column: 2;
    border-radius: 1000px;
    color: #f7f3ea;
    cursor: pointer;
    background: $primary;
    border: 1px solid $primary;
    width: fit-content;
    padding: 0 32px; // combines padding-left and padding-right
    margin: auto;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: $white;
  
    &:hover,
    &:focus {
      background: #156d51;
      color: $white;
    }
  }